
.slider__inner {
    height: 600px;
    max-width: 94rem;
    padding: 1rem 1.5rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.slider__img-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease;
}

.slider__img-item.active {
   opacity: 1;
}
.slider__img {
    height: 100%;
    position: absolute;
}

.slider__controls img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider__controls .prev{
    left: 20px;
}

.slider__controls .next{
    right: 8px;
}