.slider__inner {
    position: relative;
    max-width: 94rem;
    width: 100%;
    margin: 0 auto;
    // overflow: hidden;
    
}

.slider__img {
    display: flex;
    color: orange;
    transition: all ease 1s;
    transition: opacity 0.5s ease-in-out;
}

.slider__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 30%;
    transform: translateY(-50%);
}

.slider__controls-left, .slider__controls-right {
    border-style: none;
    background: none;
    &:hover {
        cursor: pointer;
    }
}
